[Desktop Entry]
Type=Application
Name=Burpsuite Pro
GenericName= Web Applications Pentesting
Icon=/usr/share/pixmaps/burpsuite.png
Exec=java -javaagent:/home/adosha/Source/BurpSuite_Pro/BurpSuiteLoader_v2022.8.jar -noverify -jar /home/adosha/Source/BurpSuite_Pro/burpsuite_pro_v2022.8.jar
Categories=Penetration Testing;
